header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 9;
}

header .header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .wrapper-logo {
  flex: 0 0 170px;
}

header .wrapper-logo img {
  width: 245px;
}

header nav.menu {
  flex: 1 1 100%;
  text-align: right;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: auto;
}

nav ul li {
  display: inline-block;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}

nav.menu ul li a {
  padding: 23px 30px;
  font-weight: 600;
}

.header__secondary-nav {
  background: #455560;
  color: #fff;
}

.header__secondary-nav a {
  color: #e6e6e6;
  font-weight: 100;
  font-size: 14px;
  padding: 0.5rem 1.5rem;
  display: inline-block;
}
